$border-bottom-color: #ececec;
$p-color: #838383;
$title-color: #181818;
  
  .wrapperItem{
    margin: 5px 10px;
  }

  .item {
    width: 400px;
    padding: 10px;
    border: 2px solid $border-bottom-color;
    border-radius: 5px;
    &:hover {
      background-color: #ececec;
    }
  } 

  @media (max-width: 640px) {
    .wrapperItem{
      margin: 10px;
      width: auto;
    }
    .item {
      width: 100%;
    }
  }
