.toolTipColor {
  background-color: #bebebe;
}
.toolbarWrapper {
  margin-left: 194px;
}
@media (max-width: 600px) {
  .toolbarWrapper {
    margin-left: 50%;
  }
}
@media (max-width: 480px) {
  .toolbarWrapper {
    margin-left: 20px;
  }
}
