$background-color: #f8f8f8;
$border-color: #ececec;
$border-right-color: #ececec;


.appLayout {
  height: 100vh;
}

.sider {
  background-color: $background-color;
  border-right: 2px solid $border-right-color;
  overflow-y: auto;
}
.content {
  background-color: $background-color;
  overflow-y: auto;
}