$border-bottom-color: #ececec;
  
  .wrapperItem{
    display: flex;
    justify-content: flex-end;
    &:hover {
      background-color: #ececec;
    }
  }
  .active {
      background-color: #e8e8e8;
  }

  .item {
    width: 175px;
    padding: 8px 5px 8px 0;
    border-bottom: 2px solid $border-bottom-color;
  } 
